In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [26]:
df = pd.read_parquet('../data/end_df.parquet')

In [27]:
LE = {'place': LabelEncoder(), 'product': LabelEncoder()}
df['place'] = LE['place'].fit_transform(df['place'])
df['product'] = LE['product'].fit_transform(df['product'])

In [28]:
df.corr(numeric_only=True, method='pearson')['Our_company']

place            -0.197688
product           0.050665
Our_company       1.000000
cost              0.861602
Арториас&Co       0.963828
Длань господня    0.934589
ЛилIT             0.934168
Светлые Души      0.928461
hot              -0.010395
rain              0.012648
snow             -0.006228
amount           -0.280229
year              0.476824
month             0.093947
day               0.011357
Name: Our_company, dtype: float64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   place           15000 non-null  int64
 1   product         15000 non-null  int64
 2   Our_company     15000 non-null  float64
 3   cost            15000 non-null  float64
 4   Арториас&Co     15000 non-null  float64
 5   Длань господня  15000 non-null  float64
 6   ЛилIT           15000 non-null  float64
 7   Светлые Души    15000 non-null  float64
 8   hot             15000 non-null  float64
 9   rain            15000 non-null  float64
 10  snow            15000 non-null  float64
 11  amount          15000 non-null  float64
 12  year            15000 non-null  int64
 13  month           15000 non-null  int64
 14  day             15000 non-null  int64
dtypes: float64(10), int64(5)
memory usage: 1.7 MB